/* This is the base for CSS. What it does is to reset browsers default styling. */
/* This is where we will set also global repetitive Utility Classes just like bootstrap */

:root {
  /* font family */
  --ff-primary: "Inter", sans-serif;
  --ff-font-accent: "Gloock", serif;

  /* Brand Colors/Theme Color Palette  */
  --secondary-default: hsl(351, 100%, 97%);
  --secondary-default-800: hsl(350, 100%, 99%);
  --secondary-default-900: hsl(353, 100%, 95%);

  /* brand colors shades  */
  --primary-shades-900: hsl(354, 100%, 8%);
  --primary-shades-800: hsl(354, 100%, 20%);
  --primary-shades-700: hsl(354, 100%, 28%);
  --primary-shades-600: hsl(354, 100%, 36%);
  /* default brand color is constant 500 */
  --primary-shades-500: hsl(354, 100%, 42%);
  --primary-shades-400: hsl(354, 100%, 52%);
  --primary-shades-300: hsla(354, 100%, 64%);
  --primary-shades-200: hsla(354, 100%, 72%);
  --primary-shades-100: hsla(354, 100%, 80%);

  --primary-lighter-shades-900: hsl(354, 100%, 72%);
  --primary-lighter-shades-400: hsl(354, 100%, 90%);
  --primary-lighter-shades-300: hsl(355, 100%, 93%);
  --primary-lighter-shades-200: hsl(353, 100%, 95%);
  --primary-lighter-shades-100: hsl(351, 100%, 97%);

  --error-color-shade-300: hsl(0, 100%, 72%);

  --secondary-shades-100: hsla(58, 100%, 80%, 1);
  --secondary-shades-200: hsla(58, 100%, 72.5%, 1);
  --secondary-shades-300: hsla(58, 100%, 65%, 1);
  --secondary-shades-400: hsla(58, 100%, 57.5%, 1);
  --secondary-shades-500: hsla(58, 100%, 50%, 1);
  --secondary-shades-600: hsla(58, 100%, 42.5%, 1);
  --secondary-shades-700: hsla(58, 100%, 35%, 1);
  --secondary-shades-800: hsla(58, 100%, 27.5%, 1);
  --secondary-shades-900: hsla(58, 100%, 20%, 1);
  --secondary-lighter-shades-100: hsla(58, 100%, 100%, 1);
  --secondary-lighter-shades-200: hsla(58, 100%, 100%, 1);
  --secondary-lighter-shades-300: hsla(58, 100%, 98%, 1);
  --secondary-lighter-shades-400: hsla(58, 100%, 95%, 1);
  --secondary-lighter-shades-500: hsla(58, 100%, 92%, 1);
  --secondary-lighter-shades-600: hsla(58, 100%, 89%, 1);
  --secondary-lighter-shades-700: hsla(58, 100%, 86%, 1);
  --secondary-lighter-shades-800: hsla(58, 100%, 83%, 1);
  --secondary-lighter-shades-900: hsla(58, 100%, 80%, 1);

  /* text color */
  --text-color-shade-900: hsl(0, 0%, 13%);
  --text-color-shade-800: hsl(0, 0%, 23%);
  --text-color-shade-700: hsl(0, 1%, 27%);
  --text-color-shade-600: hsl(0, 1%, 35%);
  --text-color-shade-500: hsl(0, 0%, 43%);
  --text-color-shade-400: hsl(330, 1%, 52%);
  --text-color-shade-300: hsl(0, 0%, 65%);
  --text-color-shade-200: hsl(0, 0%, 85%);
  --text-color-shade-100: hsl(0, 0%, 92%);
  --text-color-shade-50: hsl(0, 0%, 96%);
  --text-color-shade-white: hsl(0, 0%, 100%);
  --text-color-shade-black: #000000;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  text-wrap: pretty;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* CUSTOM UTILITY CLASSES */
/* #region UTILITY CLASSES */
.cursor-pointer {
  cursor: pointer;
}

.cta-primary {
  background-color: var(--primary-shades-500);
  color: var(--text-color-shade-white);
  border-color: transparent;
  border-radius: 100px;
  padding: 16px 24px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;

  @media (min-width: 300px) and (max-width: 600px) {
    width: 100%;
    margin-block: 0.5rem;
  }

  &:hover {
    background-color: var(--primary-shades-700);

    border-color: var(--text-color-shade-50);
  }
}

.cta-secondary {
  background-color: var(--secondary-default-800);
  color: var(--primary-shades-500);
  border-color: var(--primary-lighter-shades-300);
  border-radius: 100px;
  padding: 16px 24px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;

  @media (min-width: 300px) and (max-width: 600px) {
    width: 100%;
    margin-block: 0.5rem;
  }

  &:hover {
    background-color: var(--secondary-default-900, #ffe5e8);
    border-color: var(--primary-shades-400);
    color: var(--primary-shades-500);
  }
}

.cta-tertiary {
  background-color: var(--text-color-shade-white);
  color: var(--text-color-shade-900);
  border-color: transparent;
  border-radius: 100px;
  padding: 16px 24px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;

  @media (min-width: 300px) and (max-width: 600px) {
    width: 100%;
    margin-block: 0.5rem;
  }

  &:hover {
    background-color: var(--text-color-shade-50);
    border-color: var(--primary-shades-500);
    color: var(--primary-shades-500);
  }
}

@media (min-width: 300px) and (max-width: 1199px) {
  .d-hide-on-sm {
    display: none !important;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .d-hide-on-mxs {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-hide-on-large {
    display: none !important;
  }
}

/* Spacing, Margin additional utility classess */

.py-6 {
  padding-block: 3.5rem;
}

.py-7 {
  padding-block: 4rem;
}

.d-block {
  display: block;
}

/* MODALS */
.modal {
  .modal-dialog {
    max-width: 700px;
    margin-right: 30px;

    @media (max-width: 992px) {
      margin-right: auto;
    }
  }

  .modal-title {
    color: var(--text-color-shade-800);
  }

  & time {
    color: var(--primary-shades-500);
    font-size: 24px;

    & span {
      font-size: 14px;
    }
  }

  .modal-content {
    background-color: transparent;
    border: 0;
    border-radius: 1px;
  }

  .modal-header {
    background-color: var(--text-color-shade-white);
    border-radius: 0px;
    border-bottom: 0;
  }

  .modal-body {
    background-color: var(--text-color-shade-white);
    border-radius: 0px;
    border-bottom: 0;
    padding-top: 0;
  }

  .modal-footer {
    background-color: var(--primary-shades-600);
    margin-top: 10px;
    border: 0;
    border-radius: 1px;
    color: var(--text-color-shade-white);
    font-weight: 700;
    font-size: 24px;

    .btn-close {
      filter: invert(1);
      opacity: 1;
    }
  }

  .sponsor-wrapper {
    background-color: var(--primary-lighter-shades-400);
    color: var(--text-color-shade-black);
    padding: 10px 20px;
    font-size: 14px;
  }

  .speakers-wrapper {
    .speaker-type {
      color: #1d064b;
    }

    .card {
      background-color: var(--primary-lighter-shades-100);
      border-color: var(--primary-lighter-shades-100);
      border-radius: 10px;
      padding: 8px;

      & img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
      }

      .card-body {
        margin-left: 10px;
      }

      .card-title {
        font-size: 14px;
        font-weight: 700;
        color: #1d064b;
        margin-bottom: 0;
      }

      .card-text {
        font-size: 12px;
        color: #7c7c7c;
      }
    }
  }

  .div-rapper {
    height: 709px;
    background: #fff;
  }
}

.speaker-modal {
  .card {
    background-color: var(--primary-shades-900);
    border-radius: 0px;

    .card-title {
      font-size: 32px;
    }

    .card-text {
      font-size: 18px;
    }

    .speaker-profile {
      width: 250px;
      height: -webkit-fill-available;
      object-fit: cover;

      @media (max-width: 767.98px) {
        width: 100%;
      }
    }

    .speaker-details {
      list-style-type: none;
      padding-left: 0;
      font-size: 12px;

      & li {
        display: flex;
      }

      & li:before {
        padding-right: 1rem;
        display: inline-block;
        vertical-align: middle;
      }

      .location:before {
        content: url("/src/assets/images/phone-w.svg");
      }

      .phone:before {
        content: url("/src/assets/images/mail-w.svg");
      }

      .link:before {
        content: url("/src/assets/images/globe-w.svg");
      }
    }
  }

  .modal-body {
    color: #7c7c7c;
  }

  & h4 {
    color: #505050;
  }

  .speaker-tbl {
    color: #7c7c7c;
    font-size: 14px;

    & th {
      border-color: #cfcfcf !important;
    }

    & td {
      font-weight: 600;
      border-color: #cfcfcf !important;
    }
  }
}

.sponsor-modal {
  .modal-body {
    color: #7c7c7c;
    box-shadow: inset 0px 50px 25px 0px rgb(216 0 22 / 10%);
  }

  & h4 {
    color: #505050;
  }

  .cta-primary:hover {
    color: #fff;
  }

  .state-wrapper {
    background-color: var(--primary-shades-600);
  }

  .logo-wrapper {
    padding: 20px 0;
    background-color: var(--primary-lighter-shades-100);

    & img {
      width: 200px;
      height: auto;
    }
  }

  .btn-primary {
    padding: 15px;
    border-radius: 1px;
    background-color: var(--primary-lighter-shades-300);
    border-color: var(--primary-lighter-shades-300);
    color: var(--text-color-shade-black);
    font-weight: 600;
    font-size: 14px;

    &:hover {
      border-color: var(--primary-shades-600) !important;
      color: var(--primary-shades-600) !important;
    }
  }

  .speaker-details {
    list-style-type: none;
    padding-left: 0;
    font-size: 12px;

    & li {
      display: flex;
    }

    & li:before {
      padding-right: 1rem;
      display: inline-block;
      vertical-align: middle;
      filter: invert(50%) sepia(8%) saturate(16%) hue-rotate(14deg)
        brightness(95%) contrast(90%);
    }

    .location:before {
      content: url("/src/assets/images/phone-w.svg");
    }

    .phone:before {
      content: url("/src/assets/images/mail-w.svg");
    }

    .link:before {
      content: url("/src/assets/images/globe-w.svg");
    }
  }
}

.register-modal {
  .btn.btn-secondary.dropdown-toggle {
    border-radius: 1px !important;
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .dropdown-menu.show {
    border-radius: 1px;
    padding: 0;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

.agenda-modal.show,
.speaker-modal.show,
.sponsor-modal.show,
.become-sponsor-modal.show {
  background-color: rgb(0 0 0 / 70%);
  backdrop-filter: blur(3px);
  display: block !important;
  opacity: 1 !important;

  .modal-footer {
    cursor: pointer;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.modal-dialog {
  animation: slide-in 300ms !important;
}

/* #endregion MODALS */

/* Enable Bootstrap Transitions */

.carousel-item {
  transition: transform 2s ease, opacity 0.5s ease-out !important;
}

.tab-pane.fade {
  transition: opacity 0.15s linear !important;
}

.grid {
  display: grid;
}

.grid-col {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* text color css */

.text-gray-900 {
  color: var(--text-color-shade-900);
}

.text-gray-800 {
  color: var(--text-color-shade-800);
}

.text-gray-700 {
  color: var(--text-color-shade-700);
}

.text-gray-600 {
  color: var(--text-color-shade-600);
}

.text-gray-500 {
  color: var(--text-color-shade-500);
}

.text-gray-400 {
  color: var(--text-color-shade-400);
}

.text-gray-300 {
  color: var(--text-color-shade-300);
}

.text-gray-200 {
  color: var(--text-color-shade-200);
}

.text-gray-100 {
  color: var(--text-color-shade-100);
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.scrollable-y {
  overflow-y: auto;
}

.scrollable-y::-webkit-scrollbar {
  display: none;
}

/* font sizes custom css util */

.fs-16-responsive {
  font-size: clamp(0.5rem, 4vw, 1rem);
}

.fs-24-responsive {
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.blurb {
  padding-top: 1rem;
  font-size: 1.25rem;
}

.dropdown-item-custom {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-color-shade-700);
  text-wrap: initial !important;

  &:hover {
    color: var(--text-color-shade-700);
    background-color: var(--text-color-shade-100);
  }
}

.py-5\:p-y-100 {
  padding-block: 100px;
}

.w-mw-600 {
  max-width: 42.5rem;
  margin-inline: auto;
}

/* #endregion UTILITY CLASSES */
